<a href="https://colab.research.google.com/github/Georgia-MAX-holic/R6_data_stduy/blob/main/R6_Spark_Study_Handling%20Miss.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("R6_study").getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

In [ ]:
path = '/content/gdrive/MyDrive/cpding/asdf/레식 데이터.csv'
df_spark=spark.read.option("header","true").csv(path, inferSchema=True)

In [ ]:
 df_spark.show(6)

In [ ]:
df_spark= df_spark.drop("skillrank")

In [ ]:
df_spark.show(5)

In [ ]:
df_spark.na.drop().show()
#this dataset don't have null value , but this grammer can erase the null value

In [ ]:
### any==how

In [ ]:
df_spark.na.drop(how="all").show() # 전부 null 이면 행 삭제
df_spark.na.drop(how="any").show() # 하나라도 null 이면 행 삭제

In [ ]:
##threshold
df_spark.na.drop(how="any",thresh=2).show()# null 값이 아닌것이 2개 이상 있어야함

In [ ]:
df_spark.na.drop(how="any",subset=["nbkills"]).show() #subset 은 Row를 삭제할 때, 어느 칼럼에 결측치가 있는 Row를 삭제할지를 결정하는 기준이 된다.

In [ ]:
## Filling the missing value 
df_spark.na.fill("Missing Values").show() # null 값을 Missing Values 로 변경

In [ ]:
df_spark.na.fill("Missing Values", ["nbwins", "nbpicks"]).show()  # null값을 Missing Values로 변경할거고 그 대상은 nbwins와 nbpicks

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
  inputCols=["nbwins","nbkills","nbdeaths","nbpicks"],
  outputCols=["{}_imputed".format(c) for c in ["nbwins","nbkills","nbdeaths","nbpicks"]]
).setStrategy("mean")

In [ ]:
# Add imputation cols to df 
imputer.fit(df_spark).transform(df_spark).show() # imputed 값 -> 평균값 ,  column 추가